body {
    padding: 0px;
    background-color:rgb(240, 240, 240);
}

h1 { 
    padding-bottom:5px;
    margin-bottom: 15px;
    border-bottom:1px solid #ddd;
}

.nav {
    background-color: #084298;
    overflow: hidden;
    color: white;
    padding: 5px 15px;
    justify-content: space-evenly;
    width:100%;
}

.nav span,
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
  }

.nav a:hover {
    background-color: #ddd;
    color: black;
}


/* -- kamer kiezen -- */
.room{
    position:relative;
    float:left;
    width:300px;
    height:300px;
    border:2px solid #000;
    margin-top: 15px;    
    margin-bottom: 15px;
    background-color: #fff;
}
.room .roomOccupied{
    position: Absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: #86a2cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.dimensionsInput input{
    width:80px;
}

ul.productenList{
    list-style:none;
    padding: 0;
}
ul.productenList li.productLine{

}
ul.productenList li.productLine img{
    width:50px;
    height:30px;
}

.bestellingForm input{
    width:100%;
}