{% extends "pages/layout.html" %}

{% block body %}
<div class="container">
    <h1 class="titel">Uw bestelling</h1>
    <div class="row">
        <h3>Winkelwagen</h3>
        <div class="col col-xs-12 col-sm-6">            
            <ul class="winkelwagen productenList">
                {% for product in bestelling_producten %}
                    <li class="productLine">
                        <img src="{{product.afbeelding}}}">
                        <b>{{product.naam}}</b>
                        <span>Kosten: <b>&euro;{{product.prijs}} per maand</b></span>
                    </li> 
                {% endfor %}
                <li>
                    <hr>
                    <span class="totalSpan">Productentotaal: <b>&euro; {{producten_totaal}} per maand</b></span>
                </li>
            </ul>
        </div>
        <div class="col col-xs-12 col-sm-6 bestellingForm">
            <form method="post">
                {% csrf_token %}            
                {{ form }}
                <button style="margin-top:10px;" type="submit" name="update" value="1">Updaten</button>
            </form>
        </div>        
    </div>

    <div class="row">
        <div class="col col-xs-12">   
            <div class="boxShadow bestellingTotal">
                <p>Totaal aantal maanden: <b>{{totaal_maanden}}</b></p>                    
                <p>Totale reisafstand: <b>{{totaal_reisafstand}} km</b></p>
                <hr>
                <p>Eerste termijn: <b>&euro;{{producten_totaal}}</b></p>
                <p>Verzendkosten: <b>&euro;{{totaal_verzendkosten}}</b></p>
                <p>Totale kosten: <b><u>&euro;{{totaal_bestelling}}</u></b></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-12" style="margin-top:20px;">            
            <a class="button" style="float:left;" href="kamerinrichten">Terug</a>
            <a class="button" style="float:right;" href="afgerond">Betalen</a>
        </div>
    </div>
</div>
{% endblock %}