{% extends "pages/layout.html" %}

{% block body %}
    <h1 class="titel">Kies uw inrichting</h1>
    <div class="row">
        <div class="col col-xs-12">
            <p>Hieronder ziet u uw toekomstige kamer!<Br>Vul de afmetingen in van de ruimte die u beschikbaar heeft in uw kamer, wij zoeken de bijpassende meubels voor u uit!</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-12 col-sm-6">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="afmetingen" value="1"/>
                <div class="row">
                    <div class="col col-xs-12 dimensionsInput">
                        <label>
                            Afmetingen
                        </label> <br>
                        {{ form }}                            
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="room"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <input type="submit" value="Invoeren">
                    </div>
                </div>
            </form>
        </div>
        <div class="col col-xs-12 col-sm-6">
            <p>Kies hier onder de producten die u wilt huren.</p>
            <form method="post">
                <ul class="productenList">
                    {% for product in producten %}
                        <li class="productLine">
                            <input {{product.checked}} type="checkbox" name="producten[]" value="{{product.naam}}" />
                            <img src="{{product.afbeelding}}}">
                            <b>{{product.naam}}</b>
                            <span>Kosten: <b>&euro;{{product.prijs}} per maand</b></span>
                            <a href="product/{{product.naam}}">Bekijken</a>
                        </li> 
                    {% endfor %}
                    
                </ul>
                <div class="row">
                    <div class="col col-xs-12">
                    
                        {% csrf_token %}
                        <input type="submit" value="Invoeren">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}