{% extends "pages/layout.html" %}

{% block body %}
    <h1 class="titel">Kies uw inrichting</h1>
    <div class="row">
        <div class="col col-xs-12">
            <p>Hieronder ziet u uw toekomstige kamer!<Br>Vul de afmetingen in van de ruimte die u beschikbaar heeft in uw kamer, wij zoeken de bijpassende meubels voor u uit!</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-12 col-sm-6">
            <form method="post">
                <div class="row">
                    <div class="col col-xs-12">
                        <label>
                            Afmetingen
                        </label> <br>
                        Lengte <input class="dimensionsInput" type="number" name="lengte"  min="1" value="2" placeholder="Lengte van uw kamer"/><br>
                        Breedte <input class="dimensionsInput" type="number" name="breedte" min="1" value="2" placeholder="Lengte van uw kamer"/><br>
                        Hoogte <input class="dimensionsInput" type="number" name="breedte" min="1" value="2" placeholder="Lengte van uw kamer"/> 
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="room"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <input type="submit" value="Invoeren">
                    </div>
                </div>
            </form>
        </div>
        <div class="col col-xs-12 col-sm-6">
            <p>Hier komen de mogelijke producten op basis van de afmetingen die links opgegeven zijn. Deze kun je dan aan je winkelwagentje toevoegen.</p>
            <ul class="productenList">
                <li class="productLine">
                    <img src="images/empty.jpg">
                    <b>Productnaam</b>
                    <span>Kosten: <b>&euro;10,- per maand</b></span>
                    <a href="product">Bekijken</a>
                </li>
            </ul>
            <div class="row">
                <div class="col col-xs-12">
                    <form action="winkelwagen">
                        <input type="submit" value="Invoeren">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}