{% extends "pages/layout.html" %}

{% block body %}
    <h1 class="titel">Productnaam</h1>
    <div class="row">
        <div class="col col-xs-12 col-sm-6">            
            <img src="images/noimage.jpg"/>
        </div>
        <div class="col col-xs-12 col-sm-6">            
            <h2>Omschrijving</h2>
            <p>Hier komt de omschrijving van dit product te staan</p>
            <hr>
            <p>Afmetingen: 50x60x80cm</p>
            <p>Categorie: Stoelen</p>
            <a href="kamerinrichten">Terug</a>
        </div>
    </div>
{% endblock %}