{% extends "pages/layout.html" %}

{% block body %}
    <h1 class="titel">{{product.naam}}</h1>
    <div class="row">
        <div class="col col-xs-12 col-sm-6">            
            <img src="{{product.afbeelding}}"/>
        </div>
        <div class="col col-xs-12 col-sm-6">            
            <h3>Prijs: &euro;{{product.prijs}}/maand</h3>
            <p>{{product.beschrijving}}</p>
            <hr>
            <p>Afmetingen: {{product.afmeting_breedte}}x{{product.afmeting_lengte}}x{{product.afmeting_hoogte}}cm</p>
            <p>Categorie: {{product.categorie.naam}}</p>
            <a href="/kamerinrichten">Terug</a>  
        </div>
    </div>
{% endblock %}